<form class="row p-3" [formGroup]="historicalSection">
    <div class="col-md-6 d-flex">
        <label for="CategoryCode" class="form-label w-25">Category Code</label>
        <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
    </div>
    <div class="col-md-6 d-flex">
        <label for="CategoryCode" class="form-label w-25">Category Code</label>
        <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
    </div>
    <div class="col-md-6 d-flex">
        <label for="CategoryCode" class="form-label w-25">Category Code</label>
        <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
    </div>
    <div class="col-md-6 d-flex">
        <label for="CategoryCode" class="form-label w-25">Category Code</label>
        <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
    </div>
    <div class="col-md-6 d-flex">
        <label for="CategoryCode" class="form-label w-25">Category Code</label>
        <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
    </div>
    <div class="col-md-6 d-flex">
        <label for="CategoryCode" class="form-label w-25">Category Code</label>
        <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
    </div>
    <div class="col-md-6 d-flex">
        <label for="CategoryCode" class="form-label w-25">Category Code</label>
        <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
    </div>
    <div class="col-md-6 d-flex">
        <label for="CategoryCode" class="form-label w-25">Category Code</label>
        <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
    </div>
</form>
<form class="row p-3" [formGroup]="historicalSection">
    <div class="col-md-6">
        <div class="border border-2 p-2">
            <div class="col-md-12 d-flex">
                <label for="CategoryCode" class="form-label w-25">Category Code</label>
                <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
            </div>
            <div class="col-md-12 d-flex">
                <label for="CategoryCode" class="form-label w-25">Category Code</label>
                <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
            </div>
            <div class="col-md-12 d-flex">
                <label for="CategoryCode" class="form-label w-25">Category Code</label>
                <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
            </div>
            <div class="col-md-12 d-flex">
                <label for="CategoryCode" class="form-label w-25">Category Code</label>
                <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="border border-2 p-2">
            <div class="col-md-12 d-flex">
                <label for="CategoryCode" class="form-label w-25">Category Code</label>
                <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
            </div>
            <div class="col-md-12 d-flex">
                <label for="CategoryCode" class="form-label w-25">Category Code</label>
                <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
            </div>
            <div class="col-md-12 d-flex">
                <label for="CategoryCode" class="form-label w-25">Category Code</label>
                <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
            </div>
            <div class="col-md-12 d-flex">
                <label for="CategoryCode" class="form-label w-25">Category Code</label>
                <input type="text" class="form-control w-75" id="CategoryCode" [formControl]="historicalSection.controls.CategoryCode">
            </div>

        </div>
    </div>
</form>