input, textarea{
    border: 1px solid #0e2238;
}

label{
    margin: 0 !important;
}

input:focus , textarea:focus{ 
    outline: none !important;
    border-color: orange;
    box-shadow: 0 0 5px orange;
 }
 