<h1 class="ps-2">Products</h1>
<div class="p-2 tableheight">
    <table class="table text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Display</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>
                    <button class="bg-dark icon-btn rounded text-white border-0">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-primary icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="bg-danger icon-btn rounded text-white border-0">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis est, animi mollitia odit beatae fuga repellendus vero officia, blanditiis eos tempora. Repudiandae praesentium dolores quia explicabo voluptate alias aliquid dolorem!</p>