.active{
    background-color: orange !important;
    color: #0e2238 !important;
    border: none !important;
}
.nav-tabs{
    border-bottom: 1px solid #0e2238 !important;
}
.nav-tabs li button{
    background-color: #0e2238;
    color: #fff ;
    border: none !important;
}
.nav-tabs li button:hover{
    background-color: orange;
    color: #0e2238 !important;

}