<section class="text-center py-2" id="portfolio">
    <ul class="nav nav-tabs d-flex border-0 gap-2 ms-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link border text-capitalize active" id="BranchesQTY-tab" data-bs-toggle="tab"
                data-bs-target="#BranchesQTY" type="button" role="tab" aria-controls="BranchesQTY"
                aria-selected="true">Branches QTY</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link border text-capitalize" id="BranchesOverview-tab" data-bs-toggle="tab"
                data-bs-target="#BranchesOverview" type="button" role="tab" aria-controls="BranchesOverview"
                aria-selected="false">Branches Overview</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link border  text-capitalize" id="HistoricalInfo-tab" data-bs-toggle="tab"
                data-bs-target="#HistoricalInfo" type="button" role="tab" aria-controls="HistoricalInfo"
                aria-selected="false">Historical Informations</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link border  text-capitalize" id="Orders-tab" data-bs-toggle="tab"
                data-bs-target="#Orders" type="button" role="tab" aria-controls="Orders"
                aria-selected="false">Orders</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link border  text-capitalize" id="Suppliers-tab" data-bs-toggle="tab"
                data-bs-target="#Suppliers" type="button" role="tab" aria-controls="Suppliers"
                aria-selected="false">Suppliers</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="BranchesQTY" role="tabpanel" aria-labelledby="BranchesQTY-tab" tabindex="0">
            <app-itemsList></app-itemsList>
        </div>
        <div class="tab-pane fade" id="BranchesOverview" role="tabpanel" aria-labelledby="BranchesOverview-tab" tabindex="1">
            <!-- Content for Branches Overview -->
        </div>
        <div class="tab-pane fade" id="HistoricalInfo" role="tabpanel" aria-labelledby="HistoricalInfo-tab" tabindex="2">
            <app-historical-info></app-historical-info>
        </div>
        <div class="tab-pane fade" id="Orders" role="tabpanel" aria-labelledby="Orders-tab" tabindex="3">
            <!-- Content for Orders -->
        </div>
        <div class="tab-pane fade" id="Suppliers" role="tabpanel" aria-labelledby="Suppliers-tab" tabindex="4">
            <!-- Content for Suppliers -->
        </div>
    </div>
</section>
